.source.ruby {
  .string.double.quoted {
    .embedded {
      color: @string-alt;
    }
  }
  .punctuation.separator.variable,
  .variable.block {
    color: @accent-1;
  }
  .variable.instance {
    color: @accent-2;
    .punctuation.definition {
      color: @accent-2-alt;
    }
  }
  .punctuation.inheritance {
    color: @accent-1;
  }
  .constant.symbol {
    color: @string;
    .punctuation.definition {
      color: @string-alt;
    }
  }
  .keyword.other.special-method {
    color: @accent-1;
  }
}
